body {

	background: #055b8a;
}



#titulo_pagina { margin: 20px 0 20px 40px; }
#titulo_pagina div { text-transform: uppercase; color: #eee; font: 15px Helvetica, Arial, Sans-Serif;
             -webkit-transition: all 0.12s ease-out;
             -moz-transition: all 0.12s ease-out;
             -o-transition: all 0.12s ease-out;
             text-shadow: 1px 1px #f3b219, 2px 2px #f3b219, 3px 3px #f3b219, 4px 4px #f3b219, 5px 5px #f3b219, 6px 6px #f3b219;
}
#titulo_pagina div:nth-child(1) { font-size: 40px; letter-spacing: 1px;}

#titulo_pagina div:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }
#titulo_pagina a { color: #f3b219; text-decoration: none;  }



#form_wrapper {
    width: 800px;
    height: 550px;
    /* this will help us center it*/
    margin:auto;
    background-color: var(--form_bg);
    border-radius: 50px;
    /* make it a grid container*/
    display: grid;
    /* with two columns of same width*/
    grid-template-columns: 1fr 1fr;
    /* with a small gap in between them*/
    grid-gap: 5vw;
    /* add some padding around */
    padding: 5vh 15px;
}

#form_left {
    /* center the image */
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_left img {
    width: 450px;
    height: 450px;
}

#form_right {
    display: grid;
    /* single column layout */
    grid-template-columns: 1fr;
    /* have some gap in between elements*/
    grid-gap: 20px;
    padding: 10% 5%;
}

.input_container {
    background-color: var(--input_bg);
    /* vertically align icon and text inside the div*/
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.input_container:hover {
    background-color: var(--input_hover);
}

.input_container,
#input_submit {
    height: 60px;
    /* make the borders more round */
    border-radius: 30px;
    width: 100%;
}

.input_field {
    /* customize the input tag with lighter font and some padding*/
    color: var(--icon_color);
    background-color: inherit;
    width: 90%;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 30px;
}

.input_field:hover,
.input_field:focus {
    /* remove the outline */
    outline: none;
}

#input_submit {
    /* submit button has a different color and different padding */
    background-color: var(--submit_bg);
    padding-left: 0;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

#input_submit:hover {
    background-color: var(--submit_hover);
    /* simple color transition on hover */
    transition: background-color,
        1s;
    cursor: pointer;
}

h1,
span {
    text-align: center;
}

/* shift it a bit lower */
#create_account {
    display: block;
    position: relative;
    top: 30px;
}

a {
    /* remove default underline */
    text-decoration: none;
    color: var(--submit_bg);
    font-weight: bold;
}

a:hover {
    color: var(--submit_hover);
}

i {
    color: var(--icon_color);
}
    /* make it responsive */
@media screen and (max-width:768px) {

    /* make the layout  a single column and add some margin to the wrapper */
    #form_wrapper {
        grid-template-columns: 1fr;
        margin-left: 10px;
        margin-right: 10px;
    }
    /* on small screen we don't display the image */
    #form_left {
        display: none;
    }
}

*/
#bodyy{
    padding-top: 65px;
   	justify-content: center;
	align-items: center;
}

img{
    height:140px;
    width:140px;
    justify-content: center;
    align-items: center;
}

.cabeceraProducto{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    background-color: black;
    color:white;
}

.imagenFix{
    min-height: 140px;
}

.espaciador{
    min-height: 30px;
}


#menu {
	background-color: #f3b219;
}

#menu ul li a {
	color:  #025487; 
	font-weight:  bold; 
}
div div div div.lista_productos  {
	border: 1px solid #000;
    border-radius: 15px;
	background: #fff;
	margin-right: 2px; 
	text-align: center;
}

div div div div.lista_productos div.card img {
	width: 200px; 
}

.card-body{
	text-align:  center; 
}
.card-body .card-text{
	font-weight:  bold; 
}
div.timer_producto {
	color:  green; 
	font-size: 23px;
	font-weight:  bold; 
}
.card-body .utima_puja {
	color: blue; 
	font-size:  20px;
}
.card-body .ultimo_usuario {
	font-size: 15px;
	color: #000; 
}


footer div div div.section_footer {
	color: #fff;

}
footer div div div.section_footer p a {
	color: #fff;
	
}

footer div div div.section_footer h6{
	color: #ffd107;
}


/* detalle de la puja */
.timer_producto_puja{
	font-size: 40px;
	color: green;
	font-weight: bold; 
}

p.ultima_puja.card-puja{
	font-size: 30px;
	color: blue;
	font-weight: bold; 
}
p.ultimo_usuario.card-puja{
	font-size: 20px;
	color: #000;
	font-weight: bold; 
}

p.ultima_puja_producto {
	font-size: 30px;
	color: blue;
	font-weight: bold; 
}
p.ultimo_usuario_producto {
	font-size: 30px;
	color: blue;
	font-weight: bold; 
}
