<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style1.css">
    <link rel="stylesheet" type="text/css" href="css/style2.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase.js"></script>
    <script src="js/categorias.js"></script>

    <title>Listado Productos</title>
</head>

<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" >
    <div  id="navbar"  class="navbar-collapse collapse">  
        <ul id="nav navbar-nav">
            <div class="logo"> <FONT COLOR="red" SIZE="5"><I><B>c: SUBASTAS  .</B></I></FONT> </div> 
            <a href="index.html" title="Inicio">>Inicio</a>
            <a class="active" href="categorias.html">Categoria</a>
            <a href="administracion.html">Administracion</a>
            <a href="#">Buscador</a>
        </ul>
        </div>
    </nav>
</header>


<body>

<nav>
    
</nav>

</body>
</html>